import nebulaPool from 'k6/x/nebulagraph';
import { check } from 'k6';
import { Trend } from 'k6/metrics';
import { sleep } from 'k6';

var latencyTrend = new Trend('latency', true);
var responseTrend = new Trend('responseTime', true);
var rowSizeTrend = new Trend('rowSize');

var graph_option = {
  address: "{{ address }}",
  space: "{{ space }}",
  pool_policy: "session",
  csv_path: "{{ csv_path }}",
  csv_delimiter: "|",
  csv_with_header: true,
  output: "{{ output_path }}",
  username: "{{ user }}",
  password: "{{ password }}",
  max_size: 2000,
};

nebulaPool.setOption(graph_option);
var pool = nebulaPool.init();
// initial session for every vu
var session = pool.getSession()

String.prototype.format = function () {
  var formatted = this;
  var data = arguments[0];

  formatted = formatted.replace(/\{(\d+)\}/g, function(match, key){
    return data[key]
  });
  return formatted;
};

export default function (data) {
  let ngql = '{{ nGQL }}';
  let batches = [];
  let batchSize = 100;
  // batch size 100
  for (let i = 0; i < batchSize; i++) {
    let d = session.getData();
    // {0} means the first column data in the csv file
    let value =  "{{ value }}".format(d);
    batches.push(value);
  };
  ngql = ngql + " " + batches.join(',');
  let response = session.execute(ngql);
  check(response, {
    "IsSucceed": (r) => r !== null && r.isSucceed() === true
  });
  // add trend
  if (response !== null) {
    latencyTrend.add(response.getLatency());
    responseTrend.add(response.getResponseTime());
    rowSizeTrend.add(response.getRowSize());
  }
};

export function teardown() {
  pool.close();
}
